@charset "utf-8";
html, body {
    width: 100%;
    height: 100%;
    background: #eee;
    overflow: hidden;
    color: black;
}
html {
    font-size: 100px;
}
.swiper-container, .swiper-wrapper, .swiper-slide {
    height: 100%;
}
.music {
   /* display: none;*/
    position: absolute;
    top: .2rem;
    right: .2rem;
    z-index: 1000;
    width: .6rem;
    height: .6rem;
    background: url("../audio/music.svg") no-repeat;
    background-size: 100% 100%;
}
.music {
    -webkit-animation: musicMove .5s linear infinite both;
    animation: musicMove .5s linear infinite both;
}
@-webkit-keyframes musicMove {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes musicMove {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.page1 {
    position: relative;
    background:url("../img/weimeibeijing.jpg");
    background-size: cover;
}
/*.page1 .cir1{
    position: absolute;
    top:4rem;
    left:1.5rem;
    width:3.5rem ;
    height:3.5rem ;
    background: red;
    border-radius: 50%;
}*/
.page1 .cir2{
    position: absolute;
    top:2.1rem;
    left:1rem;
    width:4rem ;
    height:4rem ;
}

.page1 .cir3{
    position: absolute;
    top:2rem;
    left:.95rem;
    width:4.2rem ;
    height:4.2rem ;
}
#page1 .cir3{
    -webkit-animation: txMove 1s linear infinite both;
    animation: txMove 1s linear infinite both;

}
#page1 .cir2{
    -webkit-animation: tx2Move 3s linear infinite both;
    animation: tx2Move 3s linear infinite both;

}



@-webkit-keyframes tx2Move {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes tx2Move {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}




@-webkit-keyframes tx2Move {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes txMove {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.page1 .img-1{
    position: absolute;
    top:3.8rem;
    left:1.25rem;
    width:3.4rem ;
    height:3.4rem ;
    border: 0.09rem solid #4acd92;
    border-radius: 50%;
    overflow: hidden;
}



.page1 img {
    width: 100%;
    height: 100%;
   /* opacity: 0;*/

}

.page1 h1{
    opacity: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif , "����";
    color:#616161;
    position: absolute;
    top:7.5rem;
    left:1.9rem;
    font-size: .4rem;
    letter-spacing:0.2rem

}

.page1 .box2{
    position: absolute;
    top:9rem;
    left:1.4rem;


}
.page1 .box2 .js{
    float: left;
    margin-left: .2rem;
}

.page1 span.clin1,.page1 span.clin2{
    display: inline-block;
    width: 4.2rem;
    height: 0.05rem;
    background: #ccc;
    position: absolute;
    top:8.7rem;
    left:1rem;
    color:red;


}
.page1 span.clin2{
    top:9.7rem;
    left:1rem;
}


#page1 .img-1{
    margin-top: -1.5rem;

    -webkit-animation: swing 1s both;
    animation: swing 1s both;
}
#page1 h1{
    opacity: 1;
    -webkit-animation:bounceInLeft 2s both;
    animation: bounceInLeft 2s both;
}
#page1 .js{
    -webkit-animation:bounceInLeft 3s  both;
    animation: bounceInLeft 3s  both;
    -webkit-animation-name:hinge ;
    animation-name: hinge ;

}
#page1 .cir3{

}









#page1 .clin1,#page1 .clin2{

    -webkit-animation: slideInRight 2s .3s both;
    animation:  slideInRight 2s .3s both;
}

#page2 h2{
    -webkit-animation:rollIn 1s .3s both;
    animation:rollIn 1s .3s both;
}
.page2 .con{
    opacity: 0;
}

#page2 .one{
    -webkit-animation:bounceInLeft 3s  both;
    animation:bounceInLeft 3s  both;
}
#page2 .two{
    -webkit-animation:bounceInLeft 3s .3s both;
    animation:bounceInLeft 3s .3s both;
}
#page2 .three{
    -webkit-animation:bounceInLeft 3s .6s both;
    animation:bounceInLeft 3s .6s both;
}
#page2 .four{
    -webkit-animation:bounceInLeft 3s .9s both;
    animation:bounceInLeft 3s .9s both;
}
#page2 .five{
    -webkit-animation:bounceInLeft 3s 1.2s both;
    animation:bounceInLeft 3s 1.2s both;
}
#page2 .six{
    -webkit-animation:bounceInLeft 3s 1.5s both;
    animation:bounceInLeft 3s 1.5s both;
}
#page2 .seven{
    -webkit-animation:bounceInLeft 3s 1.8s both;
    animation:bounceInLeft 3s 1.8s both;
}

.page2 h2{
    opacity: 0;
}

h2{
    font-size: 0.44rem;
    font-family: "Microsoft YaHei", simSum;
   color: #00A5FF;
    margin-left:2.2rem;
    margin-top:.6rem;
}
.page2{
    position: relative;
    background:url("../img/weimeibeijing.jpg");
    background-size: cover;
}

.page2 .das{
    position: absolute;
    width: 2.3rem;
    height: .6rem;
    border:.04rem dashed #4acd92;
    left: 1.9rem;
    top:.6rem;
    -webkit-animation:shake 3s  both;
    animation:shake 3s  both;

}





.cline{
    display: inline-block;
    width: 3.2rem;
    height: .01rem;
    background: #616161;
    margin-left: 2.2rem;
}
.ab{
    font-size: .4rem;
    margin-left:2.5rem;

}
.con{
    width: 5.4rem;
    height: .8rem;
   /* background:#dadada;*/
    border: .1px dashed #00A5FF;
    border-radius: .3rem;
    margin-top: .4rem;
    text-align: center;
    line-height: .8rem;
    font-size: .3rem;
    margin-left:.5rem ;
    color: #00A5FF;
}
.page3{
    position: relative;
    background:url("../img/weimeibeijing.jpg");
}
.page3 div.out{
    width: .8rem;
    height: .8rem;
    padding: .1rem;
    border: .04rem solid #00A5FF;
    background: transparent;
    border-radius: 50%;
    margin-left: -0.02rem;
    float: left;
    margin-top: -.1rem;

}
.page3 div.inner{
    background: white;
    width:100%;
    height: 100%;
    border-radius: 50%;
}
.page3 i{
    width:0 ;
    height: 0;
    border:.3rem solid #00A5FF;
    border-color: transparent transparent transparent #00A5FF;
    float: left;
    margin-left: .2rem;
    margin-top: .15rem;
    opacity: 0;
}
.page3 s{
    position: relative;
    display: inline-block;
    float: left;
    width:2.9rem ;
    height: .36rem;
    background:#ccc ;
    margin-top: .2rem;
}
.page3 s b{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 90%;
    background:#00A5FF ;
    padding-top: 0;

}
.page3 s b em{
    font-style: normal;
    position: absolute;
    top: -.2rem;
    color: #fff;

}

#page3 s b,#page3 i{
    -webkit-animation:bounceInLeft 1s  both;
    animation:bounceInLeft 1s  both;
}

.page3 div.con{
    background: white;
    margin-top: .6rem;
}
.page4 .ab{
    margin-left: 2.1rem;
}








.page5{
    position: relative;
    background:url("../img/weimeibeijing.jpg");
}
.page5 .weixin{
    position: absolute;
    left:2rem;
    top:4rem;
}
.page5 .ii,.page5 .phone,.page5 .QQ{
    position: absolute;
    left: 2.3rem;
    top:2.3rem;


    font-size:.4rem ;
    text-align: center;
    line-height: .8rem;
    font-style: normal;
}
.page5 .lx{
    position: absolute;
    left: 2.1rem;
    top:2.3rem;
    width: 2rem;
    height: .8rem;
    border: 0.05rem dashed #00A5FF;
}
.page5 .phone{
    width: 3rem;
    top:6.8rem;
    left: 1.6rem;
    border: 0.05rem dashed #00A5FF; ;
}

.page5 .QQ{
    top:7.8rem;
    border: 0.05rem dashed #00A5FF;
}
.page5 p{
    position: absolute;
    left: 2.4rem;
    top:3.3rem;
    font-size: .3rem;
    color:#eccc1f ;
}

#page5 .lx{
    -webkit-animation: Move .8s linear  both;
    animation: Move .8s linear  both;

}
#page5 .QQ,#page5 .phone{
    -webkit-animation: swing .8s linear  both;
    animation: swing .8s linear  both;
}










/*
.page4 .right .yy{
    opacity: 0;
}
*/


#page4 .xline{
    -webkit-animation: bounceInDown 2s  both;
    animation: bounceInDown 2s  both;
    opacity: 1;
}
#page4 .left .y1 div,#page4 .left .y1 p,#page4 .right .ll,#page4 .left .y2 div,#page4 .left .y2 p,#page4 .left .y3 div,#page4 .left .y3 p{
    opacity: 1;
    -webkit-animation: zoomIn 2s 1s both;
    animation: zoomIn 2s 1s both;
}
#page4 .right .yy{
    margin-top: .8rem;
    opacity: 1;
    -webkit-animation: zoomIn 2s 1s both;
    animation: zoomIn 2s 1s both;
}
#page4 .right .kk{
    margin-top: .8rem;
    opacity: 1;
    -webkit-animation: zoomIn 2s 1s both;
    animation: zoomIn 2s 1s both;
}





.page4{
    padding-left: .2rem;
    font-size: .25rem;
    background:url("../img/weimeibeijing.jpg");

}

.page4 .left{
    float: left;
    margin-right: .09rem;
    margin-top: .3rem;
}
.page4 div.xline{
    opacity: 0;
    width: .03rem;
    height: 8.2rem;
    background: #00A5FF;
    float: left;
    margin-right: .4rem;
    margin-top: .4rem;

}
.page4 .right{
    float: left;
    margin-top: .4rem;
}
.page4 .left .y1,.page4 .left .y2{
    margin-top: .7rem;

}
.page4 .intro{
    opacity: 0;
    margin-left: -.2rem;
    width: 3rem;
    border:.04rem dashed #00A5FF ;
    margin-bottom: 1rem;
}
.page4 .left .y1 div,.page4 .left .y1 p,.page4 .left .y2 div,.page4 .left .y2 p{
    opacity: 0;
}
.page4 .left .y2{
    margin-top: 2.2rem;
}
.page4 .left i{
    position: absolute;
    top: 3rem;
    left: 2.8rem;
    width:0 ;
    height: 0;
    border:.1rem solid #00A5FF;
    border-color: transparent transparent transparent #00A5FF;
}

.page4 .left i.two{
    top: 5.3rem;
}

.page4 .left i.three{
    top: 8.3rem;
}
.pa4{
    position: absolute;
    top: 10.6rem;
    left: 5.6rem;
    width: .01rem;
    height: .01rem;
    border: .4rem solid #777;
    border-radius: 3rem 0 0 0;
    background: red;
    font-size: .5rem;
    color: white;
    font-weight: bold;
    line-height: .2rem;
    text-align: center;
}



/*
#page1 img:nth-child(2) {
    -webkit-animation: bounceInRight 1s .3s both;
    animation: bounceInRight 1s .3s both;
}

#page1 img:nth-child(3) {
    -webkit-animation: bounceInUp 1s .6s both;
    animation: bounceInUp 1s .6s both;
}

#page1 img:nth-child(4) {
    -webkit-animation: bounceInUp 1s .9s both;
    animation: bounceInUp 1s .9s both;
}
*/



@-webkit-keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);

    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

@keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}


@-webkit-keyframes rollIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
        transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes rollIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
        transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes shake {
    from, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes shake {
    from, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@-webkit-keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

@-webkit-keyframes Move {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@keyframes Move {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@-webkit-keyframes hinge {
    0% {
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
    }

    20%, 60% {
        -webkit-transform: rotate3d(0, 0, 1, 80deg);
        transform: rotate3d(0, 0, 1, 80deg);
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
    }

    40%, 80% {
        -webkit-transform: rotate3d(0, 0, 1, 60deg);
        transform: rotate3d(0, 0, 1, 60deg);
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        opacity: 1;
    }

    to {
        -webkit-transform: translate3d(0, 700px, 0);
        transform: translate3d(0, 700px, 0);
        opacity: 0;
    }
}

@keyframes hinge {
    0% {
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
    }

    20%, 60% {
        -webkit-transform: rotate3d(0, 0, 1, 80deg);
        transform: rotate3d(0, 0, 1, 80deg);
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
    }

    40%, 80% {
        -webkit-transform: rotate3d(0, 0, 1, 60deg);
        transform: rotate3d(0, 0, 1, 60deg);
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        opacity: 1;
    }

    to {
        -webkit-transform: translate3d(0, 700px, 0);
        transform: translate3d(0, 700px, 0);
        opacity: 0;
    }
}